html, body, #root {
    height: 100%;
    width: 100%;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.term-item-container.highlight {
    background-color: #fde;
}



.menubar-button {
    margin-left: -12px !important;
    margin-right: 20px !important;
}
.menubar-title {
    flex: 1;
}
.inline-icon {
    vertical-align: middle;
}

.course-stats {
    display: flex;
    align-items: end;
}

.coursecode-main {
    color: black;
}
.coursecode-secondary {
    font-size: smaller;
    color: gray;
}


.menu-link {
    text-decoration: none;
}

.section {
    padding: 10px;
}
.section-header {
    font-weight: bold !important;
}

.course-desc {
    color: blue;
}

.ta-list-container {
    display: flex;
    flex-grow: 1;
    position: relative;
}
.ta-list {
    /* width: 750px;*/
    /* width: 400px;*/
    position: relative;
    flex-grow: 1;
}
.ta-draggable {
    display: inline-block;
}
.ta-row-container {
    display: flex;
    flex-direction: row;
}
.ta-rows-container {
    flex-grow: 1;
    flex: 1;
    position: relative;
}
.scroll-hack {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.ta-row-tas {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    border-left: 2px solid rgba(1,1,1,0);
    transition: all 0.4s;
}
.course-name-container {
    min-width: 12em;
}
.droppable-3 {
    background-color: #de33bc;
}
.droppable-2 {
    background-color: #ffbce6;
}
.droppable-1, .droppable-2, .droppable-3 {
    /* background-color: #bfefff; */
    border-left: 2px solid #504fff;
}
.droppable-0 {
   /* background-color: rgba(1, 1, 1, 0); */
}


.sub {
    text-transform: none;
    padding-left: 1em;
    padding-right: 0.5em;
    font-size: smaller;
}
.sub:first-child {
    padding-left: 0px;
}
.stats-container {
    font-size: smaller;
}

.ta-chip-inner > * {
    text-overflow: ellipsis;
    overflow: hidden;
}
.ta-chip-inner {
    width: 120px;
}

.ta-chip.hours-over, .hours-over {
    background-color: #ff9999;
}
.ta-chip.hours-under, .hours-under {
    background-color: #fffd9b;
}
.ta-chip.hours-match, .hours-match {
    background-color: #83fb55;
}

/* we need to be specific to override MuiChip */
.ta-chip.ta-chip-2 {
    border: 2px solid rgba(1,1,1,0);
    border-left: none;
}
.ta-chip.highlight {
    border: 2px solid black;
    border-left: none;
}
.ta-chip.highlight-1 {
    border: 2px solid #ffbce6;
    border-left: none;
}
.ta-chip.highlight-2 {
    border: 2px solid #de33bc;
    border-left: none;
}
.ta-annotation {
    background-color: #ddd !important;
}

























    .Resizer {
        background: #000;
        opacity: .2;
        z-index: 1;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -moz-background-clip: padding;
        -webkit-background-clip: padding;
        background-clip: padding-box;
    }

     .Resizer:hover {
        -webkit-transition: all 2s ease;
        transition: all 2s ease;
    }

     .Resizer.horizontal {
        height: 11px;
        margin: -5px 0;
        border-top: 5px solid rgba(255, 255, 255, 0);
        border-bottom: 5px solid rgba(255, 255, 255, 0);
        cursor: row-resize;
        width: 100%;
    }

    .Resizer.horizontal:hover {
        border-top: 5px solid rgba(0, 0, 0, 0.5);
        border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    }

    .Resizer.vertical {
        width: 11px;
        margin: 0 -5px;
        border-left: 5px solid rgba(255, 255, 255, 0);
        border-right: 5px solid rgba(255, 255, 255, 0);
        cursor: col-resize;
    }

    .Resizer.vertical:hover {
        border-left: 5px solid rgba(0, 0, 0, 0.5);
        border-right: 5px solid rgba(0, 0, 0, 0.5);
    }
    .Resizer.disabled {
      cursor: not-allowed;
    }
    .Resizer.disabled:hover {
      border-color: transparent;
    }
    .Pane.vertical {
        display: flex;
    }


.imbalanced-assignment {
    background-color: #ffe800 !important;
}
